<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   
   <title> LOG IN </title>
   </head>
   <h1> Signed In </h1>
  
   </form>
   <body>
   <h4>{{.Eemail}} you are in</h4>

   </body>
   </html>     