<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   
   <title> SIGN UP </title>
   </head>
   <h1> WELCOME TO OUR COMMUNITY </h1>
  
   </form>
   <body>
   <h4>{{.EEemail}} signing up Successful </h4>

   </body>
   </html>     